<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA2mu2D_iBqpcuzWu0oH2gxnSk7uyGvlec</string>
	<key>GCM_SENDER_ID</key>
	<string>747559668710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.josephmp5.rockidentifier</string>
	<key>PROJECT_ID</key>
	<string>rockidentifier-436ed</string>
	<key>STORAGE_BUCKET</key>
	<string>rockidentifier-436ed.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747559668710:ios:ddf9a3fc23381759936427</string>
</dict>
</plist>